<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>RE</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="style.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
      <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">

	<style>
		body {
	font-family: 'Lato', 'san-serif';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	background-color: #777;
}

html {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}

div.login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	width: 400px;
	height: 500px;
	background: #f6f6f6;
	overflow: hidden;
	box-shadow: 0px 0px 50px 2px #aaa;
}

@media (max-width: 575.98px) {
	div.login {
		width: 75vw;
	}
}
@media (max-width: 575.98px) {
	.login .form .signup {
		top: 150px;
	}
}
.login .banner {
	position: absolute;
	top: 0px;
	height: 0px;
	width: 100%;
	height: 210px;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('https://i.imgur.com/WgTEhpO.jpg') center no-repeat;
	background-size: cover;
	transform: skew(0deg, -8deg) translateY(-25px);
	z-index: 2;
}

.banner-login:before {
	content: 'Login';
	position: absolute;
	width: 80px;
	height: 80px;
	background: #6d7fcc;
	color: #fff;
	bottom: -35px;
	left: 50%;
	line-height: 80px;
	font-size: 17px;
	text-transform: uppercase;
	border-radius: 50%;
	text-align: center;
	transform: skew(0deg, 8deg) translateX(-50%);
}

.banner-signup:before {
	content: 'SIGNUP';
	position: absolute;
	width: 80px;
	height: 80px;
	background: #6c757d;
	color: #fff;
	bottom: -35px;
	left: 50%;
	line-height: 80px;
	font-size: 17px;
	text-transform: uppercase;
	border-radius: 50%;
	text-align: center;
	transform: skew(0deg, 8deg) translateX(-50%);
}

.login .form {
	position: absolute;
	top: 210px;
	background: #f6f6f6;
	width: 100%;
	height: calc(100% - 180px);
}
.login .form .wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 85%;
}
.login .form .row {
	margin: 20px 0px;
}
.login .form .row .label {
	font-size: 12px;
	font-weight: 600;
	color: #646464;
}
.login .form .row input {
	margin-top: 2px;
	font-size: 13px;
	color: #464646;
	border: none;
	border-bottom: 1px solid rgba(100, 100, 100, 0.6);
	outline: none;
	height: 25px;
	background: transparent;
	width: 100%;
}
.login .form .row button {
	margin-top: 0px;
	font-size: 13px;
	color: #646464;
	border: none;
	outline: none;
	height: 40px;
	text-transform: uppercase;
	background: #6d7fcc;
	width: 100%;
	color: #fff;
	cursor: pointer;
}
.login .form .signup {
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 13px;
	bottom: 50px;
	color: #333;
}
.login .form .signup a {
	color: rgba(41, 102, 147, 0.84);
	text-decoration: none;
	font-weight: 600;
}

input[type='date'] {
	display: block;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	min-height: 1.2em;
}

.logo {
	max-width: 94%;
	margin-bottom: 2rem;
}

/* Hr fix for boostrap. Bootstrap is adding border 0 for some reason */
hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #eeeeee -moz-use-text-color #ffffff;
	border-style: solid none;
	border-width: 1px 0;
	margin: 18px 0;
}

/* 
    Sidebar CSS begin */
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #333;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

i,
span {
	display: inline-block;
}

/* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
.main-wrapper {
	display: flex;
	align-items: stretch;
}

#sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #7386d5;
	color: #fff;
	transition: all 0.3s;
}
#sidebar.active {
	min-width: 80px;
	max-width: 80px;
	text-align: center;
}
#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
	display: none;
}
#sidebar.active .sidebar-header strong {
	display: block;
}
#sidebar ul li a {
	text-align: left;
	color: #fff;
}
#sidebar.active ul li a {
	padding: 20px 10px;
	text-align: center;
	font-size: 0.85em;
}
#sidebar.active ul li a i {
	margin-right: 0;
	display: block;
	font-size: 1.8em;
	margin-bottom: 5px;
}
#sidebar.active ul ul a {
	padding: 10px !important;
}
#sidebar.active .dropdown-toggle::after {
	top: auto;
	bottom: 10px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}
#sidebar .sidebar-header {
	padding: 20px;
	background: #6d7fcc;
}
#sidebar .sidebar-header strong {
	display: none;
	font-size: 1.6em;
}
#sidebar ul.components {
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}
#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li a:hover {
	color: #7386d5;
	background: #fff;
}
#sidebar ul li a i {
	margin-right: 10px;
}
#sidebar ul li.active > a {
	color: #fff;
	background: #6d7fcc;
}

a[aria-expanded='true'] {
	color: #fff;
	background: #6d7fcc;
}
a[data-toggle='collapse'] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}
ul.CTAs {
	padding: 20px;
}
ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin-bottom: 5px;
}

a.download {
	background: #fff;
	color: #7386d5;
}
a.article {
	background: #6d7fcc !important;
	color: #fff !important;
}
a.article:hover {
	background: #6d7fcc !important;
	color: #fff !important;
}

/* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
#content {
	background-image: url('https://i.imgur.com/FPydgVZ.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 100vh;
	transition: all 0.3s;
}

/* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
@media (max-width: 768px) {
	#sidebar {
		min-width: 80px;
		max-width: 80px;
		text-align: center;
		margin-left: -80px !important;
	}

	.dropdown-toggle::after {
		top: auto;
		bottom: 10px;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}

	#sidebar {
		margin-left: 0;
	}
	#sidebar.active {
		margin-left: 0 !important;
	}
	#sidebar .sidebar-header h3,
	#sidebar .CTAs {
		display: none;
	}
	#sidebar .sidebar-header strong {
		display: block;
	}
	#sidebar ul li a {
		padding: 20px 10px;
	}
	#sidebar ul li a span {
		font-size: 0.85em;
	}
	#sidebar ul li a i {
		margin-right: 0;
		display: block;
	}
	#sidebar ul ul a {
		padding: 10px !important;
	}
	#sidebar ul li a i {
		font-size: 1.3em;
	}

	#sidebarCollapse span {
		display: none;
	}
}
#footer {
	position: -webkit-sticky;
	position: sticky;
	top: 100vh;
	padding: 10px;
	background-color: #fff;
	border: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

	</style>

   </head>
   <body>
      <div class="main-wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
         <div class="sidebar-header">
            <h3><a href="/"><img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZBnCP_Up_ObwbaeYerYFpBfAB5gJ6-uu9A7Sdxei5tTcDQVY1"></a></h3>
            <strong>RE</strong>
         </div>
         <ul class="list-unstyled components">
          <li class="active">
                <a href="/newOrder">
              <i class="fas fa-industry"></i>
                Users
               </a>
            
            </li>
            <li>
                <a href="/cardboardStaging">
              <i class="fas fa-tools"></i>
                Patients
               </a>
            
            </li>
            <li>
               <a href="/qc">
               <i class="fas fa-user-check"></i>
               Caregivers
               </a>
               <a aria-expanded="false"  href="/shipping">
              <i class="fas fa-truck-loading"></i>
               Appointments Manager
               </a>
               <a aria-expanded="false"  href="/admin/reports">
               <i class="fas fa-layer-group"></i>
                Reports log
               </a>
              
               <a href="/customer">
                 <i class="fas fa-truck"></i>
                 Absence list
               </a>
               <a href="/admin">
               <i class="fas fa-user-shield"></i>
               Admin Panel
               </a>
             
            </li>
            <li>
               <a href="/contact-admin">
               <i class="fas fa-paper-plane"></i>
               Contact Admin
               </a>
            </li>
         </ul>
         <ul class="list-unstyled CTAs">
            <li>
               <a href="#" class="download" style="color:#7386D5">Exception Reports</a>
            </li>
            <li>
               <a href="#" class="article">About RETECH</a>
            </li>
         </ul>
      </nav>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <!-- Page Content  -->
      <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
            </button>
           
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" id="dropDownNav" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/signup">Signup</a>
                  </li>
               </ul>
            </div>
            
            <ul class="nav navbar-nav mx-auto" id="loggedInCheck">
               <div class="row">
                  
                  <li class="nav-item">
                     <a class="nav-link" href="/logout"></a>
                  </li>
               </div>
            </ul>
           
         </div>
      </nav>
      
        
        <div class ="row">
  <div class ="col">
    <form  id="loginForm" class="admin-login">
    <div class="login">
  <div class="banner banner-login"></div>
  <div class="form">
    <div class="wrapper">
      <div class="row">
        <div class="label">User's Email</div>
        <input type="text" name="email" required>
      </div>
      <div class="row">
        <div class="label">Password</div>
        <input type="password" name="password" required>
      </div>
      <div class="row">
        <button id="loginButton" type="submit">Login</button>
      </div>  
    </div>
    <div class="signup">
      Forgot your password? <a href="/signup">Recover</a><br>
      <!-- <a href="#" class="showUserForm">User Login</a>     -->
    </div>
  </div>
</div>

</form>
  
 <!-- <form  method="POST" action="/login/user">
    <div class="login user-login">
  <div class="banner banner-login"></div>
  <div class="form">
    <div class="wrapper">
    <div class="row" style="display:none">
        <div class="label">Enter Name</div>
        <input type="text" name="name" value="user" required>
      </div>
      <div class="row">
        <div class="label">Enter PIN</div>
        <input type="number" id="password" name="pin" pattern="[0-9]*" required>
      </div>
      <div class="row">
        <button type="submit">Login</button>
      </div>  
    </div>
    <div class="signup">
      Don't have an account? <a href="/signup">Signup</a><br>
     <a href="#" class="showAdminForm">Admin login</a>
    </div>
            
  </div>
</div>

</form> -->


  
  </div>

</div>
        
        
        
        
        
        
        
        
        
        

</div>
                </div>
            </div>
            
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



  <script src="src/typehead.js"></script>
  <script src="src/flash.js"></script>
    <script src="https://kit.fontawesome.com/620dd23ec8.js"></script>
<!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>




    
   
    

<script type="text/javascript">
$(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });

const loginForm = document.getElementById("loginForm")
loginForm.addEventListener('submit' , async (e)=>{
	e.preventDefault()
	login();
})

// functions
 const login = async () => {
  const url = '/api/user/loginAdmin';
  const email = document.getElementsByName("email")[0].value;
  const password =  document.getElementsByName("password")[0].value;
	const data = {
		email : email , 
		password : password
	}
  fetch(url, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify(data),
				})
					.then(async (response) => {
						// Handle the response as needed
						if (response.status === 201) {
						//	location.reload();
						const data = await response.json()
						localStorage.setItem('token' , data.token);
						console.log( data.token);
						console.log('user logged in succesfully');
						document.location.href = "/admin"
						}
					})
					.catch((error) => {
						// Handle the error as needed
						console.error('Error loging in with those credentials', error);
					});
};

</script>



</body>
</html>

















</body>
</html>