<head>
	<style>
		body {
			margin: 0;
			padding: 0;
		}

		.sidebar {
			width: 200px;
			height: 100vh;
			background-color: #f1f1f1;
		}

		.sidebar ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		.sidebar li {
			padding: 10px;
			border-bottom: 1px solid #ddd;
		}

		.sidebar li a {
			text-decoration: none;
			color: #333;
		}

		.sidebar li:hover {
			background-color: #ddd;
		}
	</style>
</head>
<body>
	<div class="sidebar">
		<ul>
			<li><a href="#" onclick="redirect('users')">Users</a></li>
			<li><a href="#" onclick="redirect('patients')">Patients</a></li>
			<li><a href="#" onclick="redirect('caregivers')">Caregivers</a></li>
			<li><a href="#" onclick="redirect('apoints')">Apointments</a></li>
			<li><a href="#" onclick="redirect('reports')">reports</a></li>
			<li><a href="#" onclick="redirect('medicalRecords')">medical Records</a></li>
			<li><a href="#" onclick="redirect('absences')">Absence</a></li>
		</ul>
	</div>
	<script>
		function redirect(page) {
			document.location.href = '/admin/' + page;
		}
	</script>
</body>
